DISCORD_TOKEN=
MINECRAFT_DATA_VOLUME=
MINECRAFT_RCON_PASSWORD=
MINECRAFT_CONTROL_NETWORK=minecraft-control
FLOODGATE_USERNAME_PREFIX=.
VOICEVOX_INTERNAL_TTS_NETWORK=voicevox-discord-tts
VOICEVOX_TTS_API_URL=http://voicevox-discord-tts:8080
VOICEVOX_TTS_API_TOKEN=
VOICEVOX_SPEAKER_ID=46
VOICEVOX_SPEED=1.0
